.mainCartBlock{
    padding: 20px 0;
}
.cartBlock{
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.productBlock{
    display: grid;
    grid-template-columns: 3fr 10fr 2fr 1fr;
    border-bottom: 1px solid #d5d5d5;
    padding: 30px 0;
    margin: 30px 0;
}
.productBlock:first-of-type{
    border-top: 1px solid #d5d5d5;
}
.productImgBlock img{
    width: 100%;
}
.productInformationBlock{
    padding: 0 10px;
}
.productInformationBlock > p{
    padding-bottom: 20px;
}
.productSelectorBlock{
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    align-items: center;
}
.productSelectorBlock > div{
    width: 40%;
}
.productPriceBlock p{
    font-weight: 600;
}
.productCloseButtonBlock img{
    cursor: pointer;
    width: 15px;
}
.productPriceBlock, .productCloseButtonBlock{
    justify-self: center;
}
.totalPriceBlock{
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    border: 1px solid #d5d5d5;
    padding: 10px;
    margin: 30px;
    background-color: #f5f6f8;
    height: 100px;
}
.totalPriceBlock p{
    justify-self: center;
    font-weight: 600;
    padding: 10px;

}