.catalogContainerWrapper{
    background-color: #fff;
    flex: 1 1 auto;
}

.catalogContainer{
    display: grid;
    grid-template-columns: 1fr 4fr;
    max-width: 1200px;
    margin: auto;
}

@media (max-width: 1230px) {
    .catalogContainer{
        max-width: 100%;
        padding: 0 15px;
    }
}

@media (max-width: 950px) {
    .catalogContainer{
        grid-template-columns: 1fr;
    }
}
