.filterContainer{
    padding: 30px 10px;
    font-size: 18px;
}
.filterSeparateContainer{
    padding: 20px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.205);
}
.filterSeparateContainer:first-of-type{
    border-top: 1px solid rgba(0, 0, 0, 0.205);
}
.filterSeparateContainer h2{
    padding-bottom: 20px;
    font-weight: 600;
    font-size: 18px;
}
.filterSeparate{
    padding: 5px 0;
}
.filterButton{
    margin-right: 10px;
    /* padding: 10px; */
}