.filterContainer{
    padding: 0 10px 20px;
    font-size: 18px;
}
.сlearFilters{
    margin: 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    width: 100%;
    height: 40px;
    border: 1px solid #5D76A9;
    border-radius: 5px;
    background-color: #5D76A9;
    color: white;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: inset 0 -2px 0 rgb(0 0 0 / 30%);
    transition: .5s;
}
.сlearFilters:hover{
    background-color: #495d85;
    transition: .5s;
}
.filterSeparateContainer{
    padding: 10px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.205);
}
.filterSeparateContainer:first-of-type{
    border-top: 1px solid rgba(0, 0, 0, 0.205);
}
.filterSeparateContainerTitle{
    display: grid;
    grid-template-columns: 1fr 20px;
    gap: 15px;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 10px;
}
.filterSeparateContainerTitle h2{
    font-weight: 600;
    font-size: 18px;
}

.filterArrowImgDown{
    width: 20px;
    height: 20px;
    background-size: cover;
    cursor: pointer;
    justify-self: center;
    transition: .5s;
}

.filterArrowImgUp{
    width: 20px;
    height: 20px;
    transform: rotate(180deg);
    background-size: cover;
    cursor: pointer;
    justify-self: center;
    transition: .5s;
}
.filterSeparate{
    padding: 5px 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: #242424;
    transition: .5s;
}
.filterSeparate:hover{
    background-color: #5D76A9;
}
.filtersButton{
    display: none;
}
.filterRadioButton{
    margin: 0 7px;
    cursor: pointer;
}
@media (max-width: 950px) {
    .сlearFilters, .filterSeparateContainer{
        display: none;
    }
    .filterContainer{
        position: relative;
        padding: 0;
        font-size: 18px;
        display: flex;
        justify-content: end;
    }
    .filtersButton{
        display: inline-flex;
        padding: 0 10px;
        margin: 10px 0;
        border: 1px solid #b5b5b5;
        border-radius: 5px;
        color: #242424;
        font-size: 18px;
        font-weight: 600;
        cursor: pointer;
    }
    .filtersInsideImg{
        width: 30px;
        height: 30px;
        background-size: cover;
        background-image: url(./../../../assets/img/Catalog/CatalogFilter/filter-icon.png);
        margin-right: 10px;
    }
    .modalFiltersContainer{
        opacity: 1;
        position: fixed;
        height: 100%;
        width: 100%;
        background: #0000004d;
        top: 0;
        left: 0;
        display: grid;
        transition: .5s;
        z-index: 5;
        overflow-y: auto;
    }
    .filterModalSeparateContainer{
        padding: 15px 0 ;
    }
    .modalFiltersBlock{
        position: absolute;
        padding: 0 15px !important;
        right: 0;
        background: #fff;
        width: 100%;
        min-height: 100%;
        z-index: 5;
    }
    .modalFiltersBlock > div > p{
        padding-left: 5px;
        font-family: "Roboto","Helvetica","Arial",sans-serif;
        font-size: 1rem;
        line-height: 1.5;
        cursor: pointer;
        display: flex;
        align-items: center;
    }
    .modalFiltersBlock > div > p:hover{
        background-color: #495d85;
        transition: .5s;
        color: white;
    }
    .closeFiltersModal{
        position: fixed;
        width: 25px;
        height: 25px;
        background-image: url(./../../../assets/img/Header/close-white1.png);
        background-size: cover;
        top: 5%;
        left: 8%;
        cursor: pointer;
    }
    .filterSeparateContainerTitle{
        cursor: pointer;
    }
    .filterSeparateContainerTitle h2{
        font-weight: 600;
        font-family: "Roboto","Helvetica","Arial",sans-serif;
        font-size: 1.1rem;
        line-height: 1.5;
    }
    .modalFiltersBlock > div {
        border-bottom: 1px solid #d8d8da
    }
    .modalFilterWrapperActive{
        height: 100%;
        transform: scaleY(1); 
        transition: 0.3s all ease-in-out;
    }
    .modalFilterWrapper{
        overflow: hidden;
        height: 0;
        transform-origin: top;
        transform: scaleY(0); 
    }
    .modalFiltersItem span{
        display: block;
        width: 100%;
        cursor: pointer;
    }
}
@media (max-width: 650px) {
    .filterContainer{
        margin-top: 40px;
    }
}