.catalogBlock{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-gap: 20px; */
    padding: 20px 0;
}
.product{
    border-bottom: 1px solid rgba(0, 0, 0, 0.205);
    padding: 30px 10px;
}
.productImg{
    width: 100%;
    padding-bottom: 20px;
    cursor: pointer;
}
.price{
    font-weight: 600;
    font-size: 20px;
    text-align: left;
    padding-bottom: 20px;

}
.title{
    font-weight: 400;
    font-size: 18px;
    text-align: left;
    color: #242424;
    text-decoration: none;
    cursor: pointer;
}


/*MODAL WINDOW*/ 
.show {
    opacity: 1 !important;
}
.modalContainer{
    opacity: 1;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: #0000004d;
    top: 0;
    left: 0;
    display: grid;
    justify-content: center;
    align-items: center;
    transition: .5s;
}
.modalProduct{
    width: 70vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.modalBlock{
    position: relative;
    padding: 30px;
    background: white;
    display: grid;
    justify-items: center;
    align-items: center;
    max-height: 80vh;
    overflow-y: auto;
    /* border: 2px solid black; */
    border-radius: 10px;
}
.modalImage{
    margin-bottom: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modalTitle{
    padding: 10px 0;
}
.close{ 
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url(./../../../assets/img/close.svg);
    background-size: cover;
    top: 15px;
    right: 15px;
    cursor: pointer;
}
.modalBlock img {
   max-width: 70%;
   max-height: 66vh;
}