header{
    position: relative;
}
.nbaHead{
    position: fixed;
    top: 0;
    max-width: 1200px;
    font-size: 13px;
    display: grid; 
    align-items: center;
    grid-auto-flow: column;
    justify-content: space-between;
    background-color: white;
    z-index: 2;
    width: 100%;
}
.nbaHead::before{
    content: '';
    position: absolute;
    background-color: white;
    width: 100vw;
    height: 100%;
    top: 0;
    left: calc(50% - 50vw);
    z-index: -1;
}
.nbaLogo{
    height: 40px;
    width: 126px;
    background-image: url(./../../assets/img/Header/nbalogo.svg);
    background-size: cover;
}
.nbaHead img{
    height: 40px;
    padding: 5px;
}
.nbaHeadRight, .nbaHeadLeft{
    display: flex;
    align-items: center;
}
.registerButtons{
    justify-self: end;
    display: grid;
    grid-auto-flow: column;
    list-style-type: none;
    text-decoration: none;
}
.registerButtons li{
    padding: 0 10px;
    color: #242424;
    cursor: pointer;
}
.registerButtons li:hover{
    text-decoration: underline;
}
.registerButtons a{
    text-decoration: none;
}
.cart{
    justify-self: end;
    position: relative;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: #e61a4d;
    width: 60px;
}
.cart:hover{
    background-color: #d11846;
    transition: .5s;
} 
.cart span{
    position: absolute;
    content: '';
    top: 5px;
    right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans';
    font-size: 13px;
    color: white;
    font-weight: 600;
    background-color: black;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    /* z-index: -1; */
}
.cartImg{
    padding: 5px;
}

.grizzliesHead{
    position: relative;
    display: flex;
    /* max-width: 1200px; */
    /* justify-content: space-between; */
    align-items: center;
    padding: 10px 20px;
    margin-top: 45px;
    max-width: 100%;
    overflow: hidden;
}
.grizzliesHead::before{
    content: '';
    position: absolute;
    background-color: #5D76A9;
    width: 100vw;
    /* max-width: 100vw; */
    height: 100%;
    top: 0;
    left: calc(50% - 50vw);
    z-index: -1;
    /* overflow: hidden; */
}
.searchBlock{
    position: relative;
    width: 50%;
}
.searchInput{
    width: 100%;
    height: 40px;
    border: 0px;
    border-radius: 5px;
    padding: 0 50px 0 10px;
    font-size: 18px;
    color: #242424;
}
.logoImg{
    width: 200px;
    margin-right: 40px;
}
.searchLogo{
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    background-image: url(./../../assets/img/Header/search.svg);
}

@media (max-width: 1330px) {
    .nbaHead{
      max-width: 90%;
    }
}

@media (max-width: 650px) {
    .nbaHead{
        padding: 10px 0;
    }
    .nbaHead, .nbaHead::before, .cart, .cart:hover{
        background-color: #5D76A9;
    }
    .nbaLogo{
        background-image: url(./../../assets/img/Header/nbalogoWhite.svg);
    }
    .registerButtons, .grizzliesHead{
        display: none;
    }
    .cart{
        width: 40px;
        padding: 0px;
        margin-right: 7px;
        /* z-index: -1; */
    }
    .cart span{
        right: 0px;
    }
    .menuButtons{
        background-image: url(./../../assets/img/Header/menu-logo-white.png);
        height: 40px;
        width: 40px;
        background-size: cover;
        cursor: pointer;
        margin-right: 10px;
        /* transition: .5s; */
    }
    .searchButtons{
        background-image: url(./../../assets/img/Header/search-white-icon.png);
        height: 32px;
        width: 32px;
        background-size: cover;
        cursor: pointer;
    }
    .accountButtons{
        background-image: url(./../../assets/img/Header/account-icon.png);
        height: 40px;
        width: 40px;
        background-size: cover;
        cursor: pointer;
        margin-left: 7px;
    }
    .searchBlockLittle{
        position: relative;
        width: 100%;
        z-index: 1;
    }
    .searchInputLittle{
        position: fixed;
        top: 0;
        left: 0;
        width:  100%;
        height: 65px;
        border: 1px black solid;
        border-radius: 5px;
        padding: 0 10px;
        font-size: 18px;
        color: #242424;
        z-index: 1;
    }
    .searchLittleClose{
        cursor: pointer;
        position: fixed;
        top: 15px;
        right: 15px;
        width: 35px;
        height: 35px;
        background-image: url(./../../assets/img/Cart/close.svg);
        background-size: cover;
        z-index: 1;
    }
    .modalMenuContainer{
        opacity: 1;
        position: fixed;
        height: 100vh;
        width: 100vw;
        background: #0000004d;
        top: 0;
        left: 0;
        display: grid;
        align-items: center;
        transition: .5s;
        z-index: 5 !important;
}
    .modalMenuBlock{
        position: relative;
        padding: 20px;
        background: #f5f6f8;
        min-height: 100vh;
        width: 80%;
        overflow-y: auto;
        z-index: 5 !important;
    }
    .close{ 
        position: absolute;
        width: 5vw;
        height: 5vw;
        background-image: url(./../../assets/img/Header/close-white.png);
        background-size: cover;
        top: 5vw;
        right: 10vw;
        cursor: pointer;
        z-index: 6;
    }
    .nbaModalLogo{
        height: 40px;
        width: 125px;
        background-image: url(./../../assets/img/Header/nbalogo.svg);
        background-size: cover;
        margin: 0 0 20px 10px;
        border-bottom: 1px solid #d8d8da
    }
    .nbaModalMenu{
        list-style-type: none;
    }
    .nbaModalMenu a{
        display: block;
        text-decoration: none;
        color: #1b1b1b;
        font-size: 18px;
        padding: 15px 10px;
        border-bottom: 1px solid #d8d8da
    }
    .nbaModalMenu a:first-of-type{
        border-top: 1px solid #d8d8da
    }
}
@media (max-width: 350px) {
    .nbaLogo{
        height: 30px;
        width: 95px;
    }
}