.footer{
    position: relative;
    display: grid;
    grid-auto-flow: column;
    /* border-radius: 5px; */
    padding: 25px;
}
.footer::before{
    content: '';
    position: absolute;
    background-color: #f4f5f5;
    width: 100vw;
    height: 100%;
    top: 0;
    left: calc(50% - 50vw);
    z-index: -1;
}
.footerListLinks{
    list-style-type: none;
}
.footerTitleLink{
    font-size: 15px;
}
.footerLink{
    font-size: 13px;
    cursor: pointer;
}
.footerLink:hover{
    text-decoration: underline;
}
.footerTitleLink, .footerLink{
    text-align: left;
    padding-bottom: 10px;
}
.socialLinksBlock{
    display: flex;
    /* grid-auto-flow: column; */
    width: 100%;
}
.socialImg{
    width: 30px;
    margin-right: 10px;
}