.formWrapper{
    flex: 1 1 auto;
    background-color: #fff;
}
.form{
    background-color: #fff;
    max-width: 1200px;
    margin: auto;
}
.registrationBlock{
    width: 400px;
    margin: 40px auto;
    padding: 40px;
    border: 3px solid black;
}
.title{
    color: #242424;
    font-weight: 400;
}
.title + p{
    color: #686868;
    padding: 10px 0;
}
.registrationRoute{
    color: #686868;
}
.inputRegistration{
    display: block;
    padding: 13px;
    width: 100%;
    margin: 15px 0;
    border: 1px solid #b5b5b5;
}
.inputRegistration::placeholder{
    font-size: 15px;
    color: #b5b5b5;
    font-style: italic;
}

.sendRegistrationInfo{
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    color: white;
    padding: 13px 0;
    border-radius: 5px;
    display: block;
    margin: 10px auto;
    border: 0px;
    background-color: #e61a4d;
    margin-top: 40px;
}
.sendRegistrationInfo:hover{
    background-color: #d01745;
    box-shadow: inset 0 -2px 0 rgb(0 0 0 / 30%);
    transition: 0.5s;
}
.wrongText{
    color: red;
}
.rightText{
    color: green;
}

@media (max-width: 13300px) {
    .form{
        width: 95%;
    }
}

@media (max-width: 650px) {
    .registrationBlock{
        margin: 83px auto 20px;
    }
}
@media (max-width: 450px) {
    .registrationBlock{
        width: 100%;
        padding: 20px;
    }
}